/********** Normalize CSS **********/
html{
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,strong {
  font-weight: bolder;
}
code,kbd,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,input {
  overflow: visible;
}
button,select {
  text-transform: none;
}
button,[type="button"],[type="reset"],[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

/********** Normalize CSS **********/

.header {
    width: 100%;
    background-color: #00a7ff;
    color: #1a0e13;
    padding: 10px;
}

.header-item {
    display: flex;
    align-items: center;

}

.item {
    margin-right: 50px;
}

.header-item__logo img {
    border-radius: 50%;

}

.header-item__text {
    text-transform: uppercase;
    letter-spacing: 1px;
}



.menu {
    margin: 30px 0 50px 0;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item a {
    text-decoration: none;
    font-size: 18px;
}




.content {
    margin: 20px 0 50px 0;
}

.content-item__table {
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 20px;
}

.chess tr:nth-child(odd) td:nth-child(odd) {
    background: #000000;
}

.chess tr:nth-child(even) td:nth-child(even) {
    background: #000000;
}



footer {
    background-color: #00a7ff;
    padding: 50px 0 50px 0;
    color: #001d6c;
}

.footer__text {
    text-align: right;
}
